.create {
  color: #555;
  max-width: 480px;
  margin: 60px auto;
}
.create label span {
  display: block;
  margin: 30px 0 10px;
}
.create p {
  margin-top: 10px;
  font-size: 1.2rem;
}
.create .btn {
  display: block;
  font-size: 1em;
  color: #fff;
  padding: 7px 20px;
  border: 0;
  border-radius: 8px;
  background-color: #aa0010;
  cursor: pointer;
  text-decoration: none;
  margin: 20px auto;
  transition: all 0.3s ease-out;
}

.ingredient {
  cursor: pointer;
  text-decoration: underline solid 1px;
}

.ingredients {
  display: flex;
  align-items: center;
}

.create .ingredient-tip {
  font-size: 0.8rem;
  margin-top: 5px;
}

.create .ingredient-alert {
  font-size: 0.8rem;
  margin-top: 5px;
  color: #aa0010;
}

.ingredients .btn {
  margin: 0 0 0 20px;
  font-size: 12px;
}

.btn:hover {
  filter: brightness(120%);
}

.create.dark {
  color: #e4e4e4;
}
